# We install these via pip instead of the distro package manager
# because we care about openstack's release cycle, not the distro's
python-cinderclient~=8.3.0; python_version <= "3.6"
python-cinderclient~=9.3.0; python_version > "3.6"
python-glanceclient~=3.6.0; python_version <= "3.6"
python-glanceclient~=4.3.0; python_version > "3.6"
python-keystoneclient~=4.5.0; python_version <= "3.6"
python-keystoneclient~=5.1.0; python_version > "3.6"
python-neutronclient~=7.8.0; python_version <= "3.6"
python-neutronclient~=9.0.0; python_version > "3.6"
python-novaclient~=17.7.0; python_version <= "3.6"
python-novaclient~=18.3.0; python_version > "3.6"
python-swiftclient~=4.2.0
python-openstackclient~=5.8.0; python_version <= "3.6"
python-openstackclient~=6.2.0; python_version > "3.6"
oslo.log~=4.8.0; python_version <= "3.6"
oslo.log~=5.2.0; python_version > "3.6"

# Chameleon OpenStack client forks
git+https://github.com/ChameleonCloud/python-blazarclient@chameleoncloud/xena#egg=python-blazarclient
git+https://github.com/ChameleonCloud/python-heatclient@chameleoncloud/xena#egg=python-heatclient
git+https://github.com/ChameleonCloud/python-zunclient@chameleoncloud/xena#egg=python-zunclient
